/* .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-gap: 16px;
    padding: 25px;
    margin: 25px;
    justify-content:center;
}
.box{
    border: 2px solid #e7e7e7;
    height: 250px;
    width: 200px;
    border-radius: 9px;
    padding: .5rem;
    text-align: center;
}
.box3{
    display: none;
}
.displaydetail{
    display:block;
}
.box2{
    display: flex;

}
.container-btn2{
    padding: 6px 12px;
    text-align: center;
    margin: auto;
    background-color: orange;
    border: none;
} */
.container{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-gap: 16px;
    padding: 25px;
    margin: 25px;
    justify-content:center;
}
.box{
    border: 2px solid #e7e7e7;
    height: 250px;
    width: 200px;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
}
img {
    height: 100px;
    width: 100px;
}
.details{
    display: flex;
    padding: 10px;
    align-items: center;
}
.action{
    color: white;
    background-color: blue;
    text-align: center;
    height:20px;
    width:100px;
    margin: auto;
}
.descriptionNone{
    display: none;
}
.descriptionDisplay{
    display: block;
}
.pagination{
    display: flex;
    padding: 25px;
    margin: 25px;
}
.page{
    padding: 5px;
    border: 2px solid gray;
}
.details p{
    padding: 10px;
}